:root{
  --fondo: #00c6ff, #9900ff;
  --fondo-contenedor:rgba(255, 255, 255, 0.767);
  --fondo-formulario:rgba(126, 206, 199, 0.863);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(circle,var(--fondo));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:25px;
}


h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 1rem;
  
}

#contenedor {
  width: 800px;
  min-height: 500px;
  background-color: var(--fondo-contenedor);
  box-shadow: 0 0 21px 12px rgb(170, 54, 54);
  padding: 40px;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:var(--fondo-formulario) ;
  width: 100%;
  min-height: 500px;
  border-radius: 20px;
  padding: 2rem;
  user-select: none;
}

#preview{
  display: flex;
  flex-direction: column;


}


.estilo-form {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

label {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 25px;
  padding: 20px;
  border-radius: 12px;
}

textarea {
  width: 100%;
  height: 15rem;
  font-size: 25px;
  padding: 20px;
  border-radius: 12px;

}

input::placeholder {
  font-size: 25px;
}

button {
  width: 100px;
  height: 60px;
  padding: 10px;
  margin: 2px;
  font-size: 22px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  user-select: none;


}


.btn-enviar {
  margin:10px ;
  color: white;
  background-color: #1ea70c;
}



.btn-limpiar {
  color: white;
  background-color: #ff0095;
}

.btn-previsualizar {
  width: 150px;
  color: white;
  background-color: #194FE4;
}

.botones {
  display: flex;
  align-self: flex-end;
}

.btn-enviar:hover {
  background-color: #03290b;
}


.btn-limpiar:hover {
  background-color: #a10661;
}

.vista-previa {
  background-color: wheat;
  width: 100%;
  margin-top: 20px;
  font-size: 25px;
  border-radius: 20px;
  padding: 1rem;
  min-height: 50px;
}

.vista-previa p {
  padding-top: 12px;
}

.mensaje-previo {
  background-color: whitesmoke;
  white-space: pre-wrap;
  border-radius: 12px;
  padding: 12px;
  margin-top: 10px;
  width: 100%;
  min-height: 50px;
}

.btn-previsualizar:hover {
  background-color: #1312A8;
}

@media (max-width:767px) {
  .estilo-form {
    padding: 0;
    padding-bottom: 12px;
    
 }
}